.search{
    background-color:white;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 300px;
    padding: 5px;
}
.main-header{
    margin-bottom: 600px;
}
.img{
    width: 200px;
    height: 100px;
    
}